.dark-mode,
.dark-mode header {
  background: #131722;
}
.dark-mode .light-bb,
.dark-mode .input-group-text,
.dark-mode .nav-tabs {
  border: none;
  border-bottom: 1px solid #2a2e39;
}
.dark-mode .market-trade .nav-tabs {
  border: none;
}
.dark-mode header nav a {
  color: #ffffff !important;
}
.dark-mode header nav a:hover {
  color: #007bff;
}
.dark-mode .nav-tabs .nav-link.active {
  background: transparent;
}
.dark-mode header nav a.btn:hover {
  color: #ffffff;
}
.dark-mode header nav .nav-item.active a {
  color: #007bff;
}
.dark-mode .market-pairs {
  border: 1px solid #2a2e39;
  background: #131722;
}
.dark-mode tr {
  background: #131722;
}
.dark-mode .market-pairs .table td,
.dark-mode .market-pairs .table th {
  border-top: 1px solid #2a2e39;
}
.dark-mode .market-history .table td,
.dark-mode .market-history .table th {
  border-top: 1px solid #2a2e39;
}
.dark-mode .order-book thead tr {
  border-bottom: 1px solid #2a2e39;
}
.dark-mode .order-book,
.dark-mode .market-history,
.dark-mode .market-news {
  border: 1px solid #2a2e39;
}
.dark-mode tbody tr:hover {
  background: #2a2e39;
}
.dark-mode .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  // color: #69727a;
  color: white;
}
.dark-mode .form-control::-moz-placeholder {
  /* Firefox 19+ */
  // color: #69727a;
  // color:#131722
  color: white;
}
.dark-mode .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #69727a;
}
.dark-mode .form-control:-moz-placeholder {
  /* Firefox 18- */
  // color: #69727a;
  color: #131722;
}
.dark-mode tbody tr {
  color: #ffffff;
}
.dark-mode thead th,
.dark-mode .market-pairs .nav-link {
  color: #4f5966;
}
.dark-mode .market-pairs .nav-link.active,
.dark-mode #STAR i {
  color: #ffffff;
}
.dark-mode .green {
  color: #26de81;
}
.dark-mode .red {
  color: #ff231f;
}
.dark-mode .market-pairs .nav {
  background: #1c2030;
}
.dark-mode .market-pairs input,
.dark-mode .market-pairs span {
  border-color: #2a2e39;
  background: #2a2e39;
}
.dark-mode .market-pairs input {
  color: #ffffff;
}
.dark-mode .heading {
  background: #1c2030;
  color: #ffffff;
}
.dark-mode .ob-heading tr {
  border-top: 1px solid #2a2e39 !important;
  border-bottom: 1px solid #2a2e39 !important;
}
.dark-mode .ob-heading tr:hover {
  background: #131722;
  cursor: default;
}
.dark-mode .ob-heading span {
  color: #4f5966;
}
.dark-mode .dropdown-menu {
  background: #131722;
  box-shadow: 0 0 10px 0 #131722;
  border: 1px solid #2a2e39;
}
.dark-mode .dropdown-item:focus,
.dark-mode .dropdown-item:hover {
  background-color: #2a2e39;
  color: #ffffff;
}
.dark-mode .market-history .nav {
  background: #1c2030;
}
.dark-mode .market-history .nav-link.active {
  color: #ffffff;
}
.dark-mode .market-history .nav-link {
  color: #4f5966;
}
.dark-mode .red-bg-80:after,
.dark-mode .red-bg-60:after,
.dark-mode .red-bg-40:after,
.dark-mode .red-bg-20:after,
.dark-mode .red-bg-10:after,
.dark-mode .red-bg-8:after,
.dark-mode .red-bg-5:after,
.dark-mode .red-bg:after {
  background: #ff231f63;
}
.dark-mode .market-news {
  background: #131722;
}
.dark-mode .market-news li {
  border-bottom: 1px solid #2a2e39;
}
.dark-mode .market-news li:hover {
  background: #2a2e39;
}
.dark-mode .market-news li strong,
.dark-mode .market-news li a {
  color: #c5cbce;
}
.dark-mode .market-order {
  background: #131722;
}
.dark-mode .no-data i,
.dark-mode .no-data {
  color: #2a2e39;
}
.dark-mode .market-trade {
  border: 1px solid #2a2e39;
  background: #131722;
}
.dark-mode .market-trade .nav .nav-item .nav-link.active {
  background: transparent;
  color: #ffffff;
}
.dark-mode .market-trade .nav .nav-item .nav-link {
  color: #4f5966;
}
.dark-mode .market-trade p {
  color: #c5cbce;
}
.dark-mode .market-trade-list li a {
  background: #2a2e39;
  color: #ffffff;
}
.dark-mode .market-trade input {
  border: 1px solid #2a2e39;
  background: #2a2e39;
  color: #ffffff;
}
.dark-mode .market-trade .input-group-text {
  // background: #2a2e39;
  background-color: #1c2030;
  color: #ffffff;
  border-color: #2a2e39;
}
.dark-mode .market-trade-buy .market-trade-list li a:hover {
  background: #26de81;
  color: #fff;
}
.dark-mode .market-trade-sell .market-trade-list li a:hover {
  background: #ff231f;
  color: #fff;
}
.dark-mode #dark-modeDepthChart {
  background: #131722;
}
.dark-mode .markets {
  background: #131722;
}
.dark-mode .table td,
.dark-mode table th {
  border-top: 1px solid #2a2e39;
}
.dark-mode .markets-pair-list .nav {
  background: #1c2030;
}
.dark-mode .markets-pair-list .nav-link.active,
.dark-mode #STAR i {
  color: #ffffff;
}
.dark-mode thead th,
.dark-mode .markets-pair-list .nav-link {
  color: #4f5966;
}
.dark-mode .markets-pair-list .load-more {
  border: 1px solid #2a2e39;
  color: #ffffff;
}
.dark-mode .markets-pair-list .load-more:hover {
  color: #fff;
  border: 1px solid #007bff;
}
.dark-mode .markets-content h2,
.dark-mode .markets-content p {
  color: #ffffff;
}
.dark-mode .markets-content span.green,
.dark-mode .markets-content span.red {
  color: #fff;
}
.dark-mode .market-trade-sell {
 // border-left: 1px solid #2a2e39;
    border-left: none;
}
.dark-mode .markets-container {
  background: #1e222d;
}
.dark-mode .sign-up-form h3 {
  border-top: 0;
  margin-top: 0;
  padding-top: 15px;
}
.dark-mode header nav .nav-item.active a.btn:hover {
  color: #fff;
}

.dark-mode .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

.dark-mode .dropdown-menu::before {
  background: #131722;
  border-top: 1px solid #2a2e39;
  border-left: 1px solid #2a2e39;
}

.dark-mode .dropdown-menu p {
  color: #ffffff;
}

.dark-mode .dropdown-header {
  border-bottom: 1px solid #2a2e39;
}
.dark-mode .dropdown-footer {
  border-top: 1px solid #2a2e39;
}

.dark-mode .header-img-icon .profile-nav .nav-item .nav-link:hover {
  background-color: #2a2e39;
  color: #ffffff;
}

.dark-mode .form-control,
.dark-mode .settings-profile select {
  background-color: #2a2e39;
  border: 1px solid #2a2e39 !important;
  color: #ffffff;
}
.dark-mode .form-access form {
  padding: 30px;
  border-radius: 5px;
  min-width: 350px;
  box-shadow: 0 0 10px 0 #131722;
  border: 1px solid #2a2e39;
}
.dark-mode .form-access h2,
.dark-mode .form-access {
  color: #ffffff;
}

.dark-mode .form-access .custom-control-label::before {
  border: #2a2e39 solid 1px;
  background-color: #2a2e39;
}

.dark-mode .error-page a {
  border: 1px solid #2a2e39;
  color: #ffffff;
}
.dark-mode .error-page a:hover {
  border: 1px solid #007bff;
  background: #007bff;
  color: #ffffff;
}

.dark-mode .error-page h2,
.dark-mode .error-page p {
  color: #c5cbce;
}

.dark-mode .wallet .nav-pills a,
.dark-mode .wallet-history {
  border-top: 1px solid #2a2e39;
}
.dark-mode .wallet .nav {
  background: #1e222d;
}
.dark-mode .wallet h2,
.dark-mode .wallet h3,
.dark-mode .wallet h4,
.dark-mode .wallet p {
  color: #ffffff !important;
}
.dark-mode .wallet button.green,
.dark-mode .wallet button.red,
.dark-mode .wallet .nav-pills a.active h2,
.dark-mode .wallet .nav-pills a.active h3,
.dark-mode .wallet .nav-pills a.active p {
  color: #ffffff;
}

.dark-mode .wallet .tab-content li:first-child {
  border-bottom: 1px solid #2a2e39;
}
.dark-mode .wallet-history tr {
  background: #1e222d;
}
.dark-mode .wallet-address input,
.dark-mode .wallet-address input:focus {
  border: 1px solid #2a2e39;
  background: #2a2e39;
  box-shadow: none;
  color: #ffffff;
}
.dark-mode .depth-chart-inner {
  border: 1px solid #2a2e39;
}

.dark-mode .markets-capital-item {
  box-shadow: 0 0 10px 0 #131722;
  border: 1px solid #2a2e39;
}

.dark-mode .markets-capital-item h2,
.dark-mode .markets-capital-item h4 {
  color: #fff;
}
.dark-mode .settings .card {
  background: #1e222d;
}

.dark-mode .settings .card-title {
  color: #fff;
}

.dark-mode .settings-nav {
  background: #1e222d;
}

.dark-mode .settings-nav .nav-link {
  color: #ffffff;
}

.dark-mode .settings-notification li {
  border-bottom: 1px solid #2a2e39;
}
.dark-mode .settings-notification li:last-child {
  border-bottom: 0;
}
.dark-mode .settings-notification p {
  color: #ffffff;
}
.dark-mode .settings-notification span {
  color: #4f5966;
}

.dark-mode .settings label {
  color: #fff;
}
.dark-mode .settings .custom-file-label {
  background: #2a2e39;
  border: 1px solid #2a2e39;
  color: #616d75;
}

.dark-mode .settings-profile input[type="submit"] {
  border: 1px solid #007bff;
}
.dark-mode .market-carousel-item {
  border: 1px solid #2a2e39;
}
.dark-mode .market-carousel-item {
  color: #fff;
}
.dark-mode .market-carousel-item .btn.buy:hover,
.dark-mode .market-carousel-item .btn.sell:hover {
  color: #fff;
  border-color: #fff;
}
.dark-mode .news-details,
.dark-mode .page-content {
  color: #fff;
}
.dark-mode .header-img-icon .profile-nav .nav-item .nav-link.red {
  color: #f74745 !important;
}
.dark-mode .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #0d6efd;
}
.dark-mode .navbar-light .navbar-toggler-icon {
  filter: invert(1);
}
.dark-mode .darkMode {
  display: none;
}
.dark-mode .market-pairs .ion-md-search {
  color: #fff;
}
.dark-mode .form-access input {
  color: #fff;
}
