<div class="market-pairs">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">
        <i class="icon ion-md-search"></i>
      </span>
    </div>
    <input type="text" class="form-control" placeholder="Search" aria-describedby="inputGroup-sizing-sm" />
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="favorites-id" data-bs-toggle="tab" data-bs-target="#favorites" type="button"
        role="tab" aria-controls="favorites" aria-selected="true">
        *
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="btc-id" data-bs-toggle="tab" data-bs-target="#btc" type="button" role="tab"
        aria-controls="usd" aria-selected="false">
        USD
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="kcs-id" data-bs-toggle="tab" data-bs-target="#kcs" type="button" role="tab"
        aria-controls="eur" aria-selected="false">
        EUR
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="usdt-id" data-bs-toggle="tab" data-bs-target="#usdt" type="button" role="tab"
        aria-controls="gbp" aria-selected="false">
        GBP
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="alts-id" data-bs-toggle="tab" data-bs-target="#alts" type="button" role="tab"
        aria-controls="inr" aria-selected="false">
        INR
      </button>
    </li>
    <!-- <li class="nav-item" role="presentation">
      <button class="nav-link" id="dai-id" data-bs-toggle="tab" data-bs-target="#dai" type="button" role="tab"
        aria-controls="dai" aria-selected="false">
        DAI
      </button>
    </li> -->
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorites-id">
      <table class="table star-active">
        <thead>
          <tr>
            <th>Pairs</th>
            <th>Last Price</th>
            <th>Change</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="icon ion-md-star"></i> ETH/BTC</td>
            <td>0.00020255</td>
            <td class="red">-2.58%</td>
          </tr>
          <tr>
            <td><i class="icon ion-md-star"></i> KCS/BTC</td>
            <td>0.00013192</td>
            <td class="green">+5.6%</td>
          </tr>
          <tr>
            <td><i class="icon ion-md-star"></i> XRP/BTC</td>
            <td>0.00002996</td>
            <td class="red">-1.55%</td>
          </tr>
          <tr>
            <td><i class="icon ion-md-star"></i> VET/BTC</td>
            <td>0.00000103</td>
            <td class="green">+1.8%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade show active" id="btc" role="tabpanel" aria-labelledby="usd-id">
      <table class="table">
        <thead>
          <tr>
            <th>Pairs</th>
            <th>BID/ASK</th>
            <th>Change</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currencyPair of CurrencyPair">
            <td><i class="icon ion-md-star"></i> {{currencyPair.baseCurrency.isoCode}}/{{currencyPair.quoteCurrency.isoCode}}</td>
            <td>{{currencyPair.bidRate}}/{{currencyPair.askRate}}</td>
            <td class="red">-2.58%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="kcs" role="tabpanel" aria-labelledby="eur-id">
      <table class="table">
        <thead>
          <tr>
            <th>Pairs</th>
            <th>Last Price</th>
            <th>Change</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="icon ion-md-star"></i> BTC/ETH</td>
            <td>0.00020255</td>
            <td class="green">+1.58%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="usdt" role="tabpanel" aria-labelledby="gbp-id">
      <table class="table">
        <thead>
          <tr>
            <th>Pairs</th>
            <th>Last Price</th>
            <th>Change</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="icon ion-md-star"></i> ETH/NEO</td>
            <td>0.00350255</td>
            <td class="red">-6.58%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="alts" role="tabpanel" aria-labelledby="inr-id">
      <table class="table">
        <thead>
          <tr>
            <th>Pairs</th>
            <th>Last Price</th>
            <th>Change</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="icon ion-md-star"></i> ETH/USD</td>
            <td>0.00350255</td>
            <td class="red">-2.58%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="dai" role="tabpanel" aria-labelledby="dai-id">
      <table class="table">
        <thead>
          <tr>
            <th>Pairs</th>
            <th>Last Price</th>
            <th>Change</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="icon ion-md-star"></i> ETH/DAI</td>
            <td>0.05320255</td>
            <td class="green">+6.58%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>