.deal-entry{
 justify-content: center;
 display: flex;
 font-size: large;
 color: white;
 margin-top: 1%;

}

.input-group-append{
    margin-right: 5px;
    width: 35%;
    overflow-y: auto;
    // background-color: #2a2e39;
    //background-color: #1c2030;
}

hr{
    background-color:#2a2e39;
}

option{
    font-size: 14px;
}

