.negotiation{    
    //  margin-bottom: 15px;
    //  margin-left: 10px;
    background: #2a2e39;
}

.negotiationContainer{
    margin: 5px;
}

tr.main-row{
    // background: #f6f8f9;
}


.editable:hover{
    background: #888; 
}

.table{
    overflow:scroll;
}