<div class="container-fluid mtb15 no-fluid">
  <div class="row sm-gutters">
    <div class="col-sm-12 col-md-3 marker-pairs">
      <app-market-pairs></app-market-pairs>
    </div>
    <div class="col-sm-12 col-md-6">
      <!-- <div class="darkMode">
        <app-trading-chart></app-trading-chart>
      </div>
      <div class="lightMode">
        <app-trading-dark-chart></app-trading-dark-chart>
      </div> -->
      <app-market-trade></app-market-trade>
    </div>
    <div class="col-md-3">
      <app-order-book></app-order-book>
      <!-- <app-market-history></app-market-history> -->
    </div>
    <div class="col-md-3">
      <app-market-news></app-market-news>
    </div>
    <div class="col-md-9">
      <app-history-order></app-history-order>
    </div>
  </div>
</div>